.strategies {
  padding: 30px 0;
  @include media-tablet {
    text-align: center;
  }
}

.strategies__title {
  margin: 0 0 14px;
}

.strategies__description {
  margin: 0 0 24px;
}



.strategies__tags {
  margin-bottom: 31px;
  @include media-tablet {
    justify-content: center;
  }
}

.strategies__name {
  margin: 0 0 29px;
  text-align: left;
  flex-grow: 1;
}

.strategies__wrapper {
  >* {
    margin-bottom: 30px;
    @include media-tablet {
      width: 48%;
      flex-basis: 48%;
    }
    @include media-mobile {
      width: 100%;
      flex-basis: 100%;
    }
  }
}

.strategy {
  display: flex;
  flex-direction: column;
  @include media-tablet {
    overflow: hidden;
  }
  img {
      @include media-tablet {
        height: 173px;
        object-fit: cover;
      }
    }
  &_hidden {
    display: none;
  }  
}

.strategy__content {
  padding: 24px 33px 26px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.block-shadowed {
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}